<form role="form" class="form-horizontal">
    
    <input type ="hidden" id="id" value ="[$id]" />

    <div class="form-group">
        
        <div class="col-md-6">
            
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" value ="[$nome]">
            
        </div>
        
    </div>
    
    <div class="form-group">
        
        <div class="col-md-6">
            
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" value ="[$email]" placeholder="example@server.com">
            
        </div>
        
    </div>
    
    <div class="form-group">
        
        <div class="col-md-3">
            
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" value="[$telefone]" class="form-control" />
        </div>
        
    </div>
    
        

</form>    